[id="treeview-layout-templates"] {
    --iui-treeitem-padding: 20px 0;
    --iui-treeitem-content-width: calc(100% - 160px);
    --iui-treeitem-content-template-width: 100%;
    --iui-progressbar-border-color: transparent;
    --iui-progressbar-margin: 15px 0 0 0;
    --iui-progressbar-content-background: #0092cc;
    --iui-slider-margin: 15px 0 0 0;
    --iui-tooltip-content-width: calc(100% - 40px);
}

.trw-lyttmp-icons {
    background: url(/resources/icons-x24.png) no-repeat 0 0;
    display: inline-block;
    padding: 0;
    margin: 0 3px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.collapsed {
    background-position: -120px -144px;
}

.expanded {
    background-position: -144px -144px;
}

.document {
    background-position: 0 -96px;
}

.trw-lyttmp-status {
    display: inline-block;
    padding: 8px 10px;
    transition: all 0.25s ease-in-out;
}

.trw-lyttmp-status-label {
    border: thin solid black;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    font-weight: bold;
}
