.computer-icons {
    background-image: url(/resources/computer.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 2px 0 0;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.empty {
    background-position: 0px 0px;
}

.folder {
    background-position: -24px 0px;
}

.downloads {
    background-position: -48px 0px;
}

.favorites {
    background-position: -72px 0px;
}

.documents {
    background-position: -96px 0px;
}

.pc {
    background-position: -120px 0px;
}

.videos {
    background-position: -144px 0px;
}

.music {
    background-position: -168px 0px;
}

.network {
    background-position: -192px 0px !important;
}

.recycle {
    background-position: -216px 0px !important;
}

.pictures {
    background-position: -240px 0px;
}

.empty-doc {
    background-position: -264px 0px !important;
}

.disk {
    background-position: -288px 0px !important;
}

/* Item Hover Template */
.trw-overview-tool-delete {
    background-image: url(/resources/icons/close.ico);
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: 9px 9px 0 0;
    width: 16px;
    height: 16px;
    opacity: 0.5;
}

.trw-overview-tool-delete:hover {
    opacity: 1;
}