@page "/slider/overview"

<link rel="stylesheet" href="css/slider/SliderOverview.css?version=24.3.0" />

<h2>Slider / Overview</h2>
<div class="sample-block" id="slider-overview">
    <IntegralUISlider Id="slider-1" AllowFocus="false" Size="@ctrlSize" Value="@sliderValue1"></IntegralUISlider>
    <IntegralUISlider Id="slider-2" AllowFocus="false" ButtonShape="IntegralUISliderButtonShape.Circle" Size="@ctrlSize" Value="@sliderValue2"></IntegralUISlider>
    <div class="feature-help">
        <p><span class="initial-space"></span><strong><span class="code-name">IntegralUI</span> Slider</strong> is a Blazor Component that allows you to change a numeric value within a range of defined minimum and maximum values.</p>
        <p><span class="initial-space"></span>You can move the slider by dragging it or by clicking the mouse to either side. In addition, you can customize its appearance using different colors or shapes via CSS.</p>
        <p><span class="initial-space"></span>The following properties and events are supported:</p>
        <ul class="feature-points">
            <li><span class="code-name">AllowAnimation</span> - Determines whether component appearance is animated or not</li>
            <li><span class="code-name">AllowFocus</span> - Determines whether component can have the input focus</li>
            <li><span class="code-name">Data</span> - Specifies an object that holds data related to the component</li>
            <li><span class="code-name">DecimalPlaces</span> - Specifies how many decimals are displayed in the marker value</li>
            <li><span class="code-name">Enabled</span> - Determines whether the component is enabled or disabled</li>
            <li><span class="code-name">Min</span> - Specifies the minimum value</li>
            <li><span class="code-name">Max</span> - Specifies the maximum value</li>
            <li><span class="code-name">Name</span> - Uniquely identifies the component</li>
            <li><span class="code-name">Orientation</span> - Determines whether the progressbar appears horizontally or vertically</li>
            <li><span class="code-name">ShowMarker</span> - Determines whether the marker is visible or not</li>
            <li><span class="code-name">State</span> - Specifies the component state: Normal or Selected.</li>
            <li><span class="code-name">Value</span> - Holds the current progress value</li>
            <li class="feature-points-break"><br /></li>
            <li><span class="code-name">ValueChanged</span> - Occurs when Value property changes</li>
        </ul>
    </div>
</div>

@code {
    public IntegralUISize ctrlSize = new() { Width = 300, Height = 20 };
    public double sliderValue1 = 30;
    public double sliderValue2 = 75;
}
