[id="rating-overview"] {
    --iui-rating-margin: 5px 0 25px 0;
}
[id="rating-1"] {
    --iui-rating-content-image: url(/resources/rating/star-empty-white.png);
    --iui-rating-value-image: url(/resources/rating/star-full.png);
}
[id="rating-2"] {
    --iui-rating-content-image: url(/resources/rating/star-2-empty.png);
    --iui-rating-image-height: 22px;
    --iui-rating-value-image: url(/resources/rating/star-2-full.png);
}
[id="rating-3"] {
    --iui-rating-content-image: url(/resources/rating/brick-empty.png);
    --iui-rating-value-image: url(/resources/rating/brick-full.png);
}