[id="listview-appearance"] {
    --iui-listview-display: inline-block;
    --iui-listview-width: calc(100% - 200px);
}
.lvw-apprnce-icons {
    background-image: url(/resources/movie-genres.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    overflow: hidden;
    margin: 2px 5px 0 0;
    padding: 0;
    vertical-align: top;
    width: 24px;
}
.action {
    background-position: 0 0;
}
.adventure {
    background-position: -24px 0;
}
.comedy {
    background-position: -48px 0;
}
.action {
    background-position: -72px 0;
}
.sci-fi {
    background-position: -120px 0;
}
.biography {
    background-position: 0 -24px;
}
.horror {
    background-position: -24px -24px;
}
.drama {
    background-position: -48px -24px;
}
.music {
    background-position: -72px -24px;
}
.romance {
    background-position: -96px -24px;
}
.western {
    background-position: -120px -24px;
}
.lvw-apprnce-cell-label {
    display: block;
    padding: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lvw-apprnce-item-label {
    display: inline-block;
    padding: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: calc(100% - 29px);
}

.listview-appearance-panel {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 170px;

    --iui-radiobutton-display: block;
    --iui-radiobutton-margin: 5px 0;
}
.listview-appearance-panel label {
    display: block;
    margin: 0 0 10px 10px;
}
