[id="grid-grouping-overview"] {
    --iui-grid-column-footer-font-weight: bold;
    --iui-grid-expand-box-margin: 5px 7px 0 0;
}
.grid-grouping-group-label {
    display: inline-block;
    font-weight: bold;
    padding: 4px 0 0 0;
    vertical-align: top;
}
.grid-grouping-group-summary {
    color: #3d80bf;
    display: inline-block;
    font-weight: bold;
    padding: 4px 0 0 0;
    vertical-align: top;
}
.grid-grouping-row-summary {
    background: #3d80bf;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    height: 100%;
    padding: 2px 5px 0 0;
    vertical-align: top;
}
.grid-grouping-cell-label {
    padding: 4px 0 0 0;
}
.grid-grouping-country {
    display: inline-block;
    padding: 4px 0 0 0;
    vertical-align: top;
}
.grid-grouping-flags {
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    padding: 0 !important;
    margin: 2px 5px 0 3px;
    width: 32px;
    height: 22px;
    vertical-align: top;
}
.austria {
    background-image: url(/resources/flags/austria.png);
}
.australia {
    background-image: url(/resources/flags/australia.png);
}
.belgium {
    background-image: url(/resources/flags/belgium.png);
}
.brazil {
    background-image: url(/resources/flags/brazil.png);
}
.canada {
    background-image: url(/resources/flags/canada.png);
}
.china {
    background-image: url(/resources/flags/china.png);
}
.croatia {
    background-image: url(/resources/flags/croatia.png);
}
.denmark {
    background-image: url(/resources/flags/denmark.png);
}
.france {
    background-image: url(/resources/flags/france.png);
}
.germany {
    background-image: url(/resources/flags/germany.png);
}
.hungary {
    background-image: url(/resources/flags/hungary.png);
}
.india {
    background-image: url(/resources/flags/india.png);
}
.ireland {
    background-image: url(/resources/flags/ireland.png);
}
.italy {
    background-image: url(/resources/flags/italy.png);
}
.japan {
    background-image: url(/resources/flags/japan.png);
}
.netherlands {
    background-image: url(/resources/flags/netherlands.png);
}
.poland {
    background-image: url(/resources/flags/poland.png);
}
.slovenia {
    background-image: url(/resources/flags/slovenia.png);
}
.south-korea {
    background-image: url(/resources/flags/south-korea.png);
}
.spain {
    background-image: url(/resources/flags/spain.png);
}
.sweden {
    background-image: url(/resources/flags/sweden.png);
}
.taiwan {
    background-image: url(/resources/flags/taiwan.png);
}
.turkey {
    background-image: url(/resources/flags/turkey.png);
}
.uk {
    background-image: url(/resources/flags/uk.png);
}
.usa {
    background-image: url(/resources/flags/usa.png);
}

