[id="grid-multiline-headers"] {
}

.grid-parent-header {
    height: 100%;
}

.order-details {
    background: #406585;
    color: white;
}

.product {
    background: #568cba;
    color: white;
}

.shipping-info {
    background: #568cba;
    color: white;
}
